---
import PageLayout from "../../layouts/PageLayout.astro";
import MarkdownLayout from "../../layouts/MarkdownLayout.astro";
---

<PageLayout PageTitle="关于">
    <main class="container mx-auto p-8">
        <MarkdownLayout>
            <article>
                <slot />
            </article>
        </MarkdownLayout>
    </main>
</PageLayout>