<header class="sticky top-2 container mx-auto px-8 mt-8 flex items-center gap-2">
    <button id="postGoBackButton" class="text-sm rounded-full px-3.5 py-1 bg-neutral-200/70 backdrop-blur flex items-center gap-1 dark:bg-neutral-800/70">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3"><path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" /></svg> 
        返回
    </button>
    <button id="postGoTopButton" class="hidden text-sm rounded-full p-1.5 bg-neutral-200/70 backdrop-blur aspect-square dark:bg-neutral-800/70">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4"><path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75 12 3m0 0 3.75 3.75M12 3v18" /></svg>   
    </button>
</header>

<script is:inline>
    document.getElementById('postGoBackButton').addEventListener('click', function(){
        window.history.back();
    });

    const postGoTopButton = document.getElementById('postGoTopButton');

	function toggleBackToTopButton(){
		if(this.window.pageYOffset > 500){
			postGoTopButton.style.display = 'block';
		}else{
			postGoTopButton.style.display = 'none';
		}
	}

	postGoTopButton.addEventListener('click', function(event) {
		event.preventDefault();
		window.scrollTo({
			top:0,
			behavior: 'smooth'
		});
	});
	window.addEventListener('scroll', toggleBackToTopButton);
</script>