---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
<main class="container mx-auto p-8 h-[2000px]">
    <section>
        <article>
            <a href="#" class="hover:text-blue-500">追风筝的人:读书笔记</a>
        </article>
    </section>
</main>
</BaseLayout>