---
import { getCollection } from "astro:content"
import PageLayout from "../layouts/PageLayout.astro"
import { SITE } from "../consts";
import PostCard from "../components/PostCard.astro";

const posts = (await getCollection("post"))
.filter(posts => !posts.data.draft)
.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
.slice(0, SITE.NUM_BLOG_ON_HOMEPAGE);

---

<PageLayout pageName="index">

<section class="space-y-4">
    <h2 class="flex gap-2 items-center font-bold">最新文章</h2>
    {posts.map(post => (
        <PostCard entry={ post } />
    ))}
</section>

</PageLayout>