---
import { getCollection } from "astro:content"
import PageLayout from "../layouts/PageLayout.astro"
import { SITE } from "../consts";
import BlogCard from "../components/BlogCard.astro";

const blog = (await getCollection("blog"))
.filter(post => !post.data.draft)
.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
.slice(0, SITE.num_blog_on_homepage);

---

<PageLayout>
<main class="container mx-auto px-8 py-16 h-[2000px]">
    <section class="space-y-8">
        {blog.map(post => (
            <BlogCard entry={ post } />
        ))}
    </section>
</main>
</PageLayout>