---
import { getCollection } from "astro:content"
import PageLayout from "../layouts/PageLayout.astro"
import { SITE } from "../consts";
import BlogCard from "../components/BlogCard.astro";

const blog = (await getCollection("blog"))
.filter(post => !post.data.draft)
.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
.slice(0, SITE.NUM_BLOG_ON_HOMEPAGE);

---

<PageLayout pageName="index">

<section class="space-y-6 lg:space-y-8">
    <h2 class="flex gap-2 items-center text-lg text-neutral-400 font-bold font-serif dark:text-neutral-600">Blog
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
        </svg>
    </h2>
    {blog.map(post => (
        <BlogCard entry={ post } />
    ))}
</section>

</PageLayout>