<div class="giscus "></div>

<script src="https://giscus.app/client.js"
        data-repo="ymc0182/myblog"
        data-repo-id="R_kgDOMiAgoA"
        data-category="General"
        data-category-id="DIC_kwDOMiAgoM4Chifv"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://res.jb18.cm/css/giscus_theme.css"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>