---
const styleURL = new URL('/style/giscus.css', Astro.url);
---
<div class="giscus"></div>

<script src="https://giscus.app/client.js"
        data-repo="ymc0182/myblog"
        data-repo-id="R_kgDOMiAgoA"
        data-category="General"
        data-category-id="DIC_kwDOMiAgoM4Chifv"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme= {styleURL}
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>