---
import Article from "./Article.astro";

const { title, ...res } = Astro.props;
---

<details class="bg-neutral-100/70 rounded-lg px-5 py-2.5 dark:bg-neutral-800/70 backdrop-blur-xl" {...res}>
    <summary class="cursor-pointer">{title}</summary>
    <div class="mt-6">
        <Article>
            <slot />
        </Article>
    </div>
</details>