<footer class="border-t border-neutral-200/70 dark:border-neutral-800/70">
    <div class="container mx-auto p-8 space-y-4">
        <span class="text-xs text-neutral-100 bg-neutral-700 px-2.5 py-1 rounded-md"><a href="/">C2C Deed</a></span>
        <nav class="flex flex-wrap gap-1.5 text-sm hover:*:text-blue-500">
            <a href="/now">进行时</a>
            <a href="/friends">友链</a>
            <a href="/about">关于</a>
            <a href="/guestbook">留言</a>
        </nav>
        <div class="text-xs text-neutral-500 dark:text-neutral-600">
            <p>Powered By Astro · Designed By Mr.Yuan ♥.</p>
            <p>&copy; Mr.Yuan</p>
        </div>
    </div>
</footer>