---
import { NAVLINKS } from "../consts";
---

<footer class="border-t border-neutral-200/70 dark:border-neutral-800/70">
    <div class="container mx-auto p-8 space-y-4">
        <nav class="flex flex-wrap gap-1.5 text-sm *:hover:text-blue-500 *:active:text-blue-500">
            {NAVLINKS.map((link) => (
                <a href={link.HREF}>{link.NAME}</a>
            ))}
        </nav>
        <div class="text-xs text-neutral-400 dark:text-neutral-600">
            <p>&copy; {new Date().getFullYear()} Mr.Yuan</p>
            <p>Powered By Astro · Designed By Mr.Yuan ♥.</p>
        </div>
    </div>
</footer>