---
import { SITE } from "../consts";
import { ViewTransitions } from "astro:transitions";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---
<meta charset="UTF-8">
<link rel="icon" type="image/x-icon" href={SITE.AVATAR}>
<link rel="alternate" type="application/rss+xml" title={SITE.TITLE} href={new URL("rss.xml", Astro.site)} />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{ title && title + " - " }{SITE.TITLE}</title>
<meta name="description" content  = { description ? description : SITE.DESCRIPTION } />

<ViewTransitions  />

<script>
    function init(){
        updateTheme();
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme);
    }

    function updateTheme() {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    }

    document.addEventListener('DOMContentLoaded', () => init());
    document.addEventListener('astro:after-swap', () => init());
    document.body.addEventListener('touchstart', () => {}, { passive: true });
</script>

<style>
    @font-face {
		font-family: 'zql';
		src: url('https://res.jb18.cm/fonts/zql.woff2') format('woff2'),
			url('https://res.jb18.cm/fonts/zql.woff') format('woff');
		font-display: swap;
	}
    body {
		font-family: 'zql',"Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif; 
        font-weight: 400;
	}
</style>