---
import { SITE } from "../consts";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href={SITE.avatar}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content = {Astro.generator} >
    <title>{ title && title + " - " }{SITE.title}</title>
    <meta name="description" content={SITE.description}>

    <ViewTransitions  />

    <script>
        function init(){
            updateTheme();
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme);
        }

        function updateTheme() {
            if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        }

        document.addEventListener('DOMContentLoaded', () => init());
    document.addEventListener('astro:after-swap', () => init());
    </script>
</head>