---
import { SITE } from "../consts";
import { ClientRouter } from "astro:transitions";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---
<meta charset="UTF-8">

<link rel="icon" type="image/x-icon" href={SITE.AVATAR}>
<link rel="alternate" type="application/rss+xml" title={SITE.TITLE} href={new URL("rss.xml", Astro.site)} />
<link rel="preconnect" href="https://giscus.app" crossorigin>
<link rel="dns-prefetch" href="https://giscus.app">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{ title && title + " - " }{SITE.TITLE}</title>
<meta name="description" content  = { description ? description : SITE.DESCRIPTION } />

<ClientRouter />

<script>

    function init() {
        const headerElement = document.getElementById('header');
        const avatarElement = document.getElementById('avatar');
        const HeaderButtonBackToTopElement = document.getElementById('HeaderButtonBackToTop');
        const HeaderButtonBackElement = document.getElementById('HeaderButtonBack');

        HeaderButtonBackToTopElement?.addEventListener('click', (event) => scrollToTop(event));
        HeaderButtonBackElement?.addEventListener('click', () => window.history.back());

        stickyHeader(headerElement, HeaderButtonBackToTopElement, avatarElement);
        loadComments();
        // updateTheme();
        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme);
    }

    function updateTheme() {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    }

    function stickyHeader(headerElement: HTMLElement, HeaderButtonBackToTopElement: HTMLElement, avatarElement: HTMLElement) {
        const stickyHeaderClass = [
            'border-b',
            'border-neutral-200/70',
            'backdrop-blur-lg',
            'bg-white/70',
            'dark:border-neutral-800/70',
            'dark:bg-neutral-900/70',
        ];
        const unstickyHeaderClass = [
            'border-transparent',
        ];
        window.addEventListener('scroll', function() {
            if (window.scrollY > 16) {
                headerElement.classList.add(...stickyHeaderClass);
                headerElement.classList.remove(...unstickyHeaderClass);

                HeaderButtonBackToTopElement.classList.add('flex');
                HeaderButtonBackToTopElement.classList.remove('hidden');
            } else {
                headerElement.classList.add(...unstickyHeaderClass);
                headerElement.classList.remove(...stickyHeaderClass);

                HeaderButtonBackToTopElement.classList.add('hidden');
                HeaderButtonBackToTopElement.classList.remove('flex');
            }
        }, { passive: true })
    }

    function scrollToTop(event: MouseEvent) {
        event.preventDefault();
        window.scrollTo({
            top: 0,
            behavior: "smooth"
        });
    }

    function loadComments(){
        const LoadCommentsButton = document.getElementById('LoadCommentsButton')
        let isLoadComments = false

        LoadCommentsButton?.addEventListener('click', function(){

            if(isLoadComments === true) return null;
            isLoadComments = true

            const translations = {
                loading: 'æ­£åœ¨åŠ è½½è¯„è®ºç»„ä»¶...',
                success: 'è¯„è®ºç»„ä»¶åŠ è½½å®Œæˆ ðŸŽ‰',
                fail: 'åŠ è½½å¤±è´¥ï¼Œç‚¹å‡»é‡è¯•',
                timeout: 'åŠ è½½è¶…æ—¶ï¼Œç‚¹å‡»é‡è¯•'
            }

            LoadCommentsButton.textContent = translations.loading

            const script = document.createElement('script')
            script.src = 'https://giscus.app/client.js'
            script.setAttribute('data-repo', 'ymc0182/myblog')
            script.setAttribute('data-repo-id', 'R_kgDOMiAgoA')
            script.setAttribute('data-category', 'General')
            script.setAttribute('data-category-id', 'DIC_kwDOMiAgoM4Chifv')
            script.setAttribute('data-mapping', 'title')
            script.setAttribute('data-strict', '0')
            script.setAttribute('data-reactions-enabled', '1')
            script.setAttribute('data-emit-metadata', '0')
            script.setAttribute('data-input-position', 'top')
            script.setAttribute('data-theme', 'https://res.jb18.cm/css/giscus_theme.css')
            script.setAttribute('data-lang', 'zh-CN')
            script.crossOrigin = 'anonymous'
            script.async = true

            const timeout = setTimeout(() => {
                script.remove()
                LoadCommentsButton.textContent = translations.timeout
                isLoadComments = false
            }, 15000)

            script.onload = () => {
                clearTimeout(timeout)
                LoadCommentsButton.textContent = translations.success
                setTimeout(() => {
                    LoadCommentsButton.classList.add('hidden')
                }, 2000)
            }

            script.onerror = () => {
                clearTimeout(timeout)
                LoadCommentsButton.textContent = translations.fail
                isLoadComments = false
            }

            document.body.appendChild(script)

        });
    }

    document.addEventListener('DOMContentLoaded', () => init());
    document.addEventListener('astro:after-swap', () => init());
    document.addEventListener('astro:before-preparation', () => {
        document.getElementById('loadingIcon').style.display = 'flex'
        document.getElementById('main').classList.add('blur')
    });
    document.addEventListener('astro:page-load', () => {
        document.getElementById('loadingIcon').style.display = 'none'
        document.getElementById('main').classList.remove('blur')
    });
    document.body.addEventListener('touchstart', () => {}, { passive: true });
</script>

<style>
    @font-face {
		font-family: 'zql';
		src: url('https://res.jb18.cm/fonts/zql.woff2') format('woff2'),
			url('https://res.jb18.cm/fonts/zql.woff') format('woff');
		font-display: swap;
	}
    body {
		font-family: 'zql',"Arial", "Microsoft YaHei", "é»‘ä½“", "å®‹ä½“", sans-serif; 
        font-weight: 400;
	}
</style>