---
import Head from "../components/Head.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh">
    <head>
        <Head title = {title} description = {description}/>
    </head>
	
    <body class="h-full w-full scroll-smooth text-neutral-800 dark:bg-neutral-900 dark:text-neutral-400">
        <slot />
    </body>
</html>

<!-- 
    弹窗     99999
    文章目录  99998
    header   99997
-->
