---
const { PageName,PageTitle } = Astro.props;
---

<html lang="zh">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <link rel="icon" type="image/x-icon" href="https://cravatar.com/avatar/5FBB13B635295D1226A17B782951C309?s=400&amp;f=mp"> -->
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content="袁某人,博客,主页"/>
		<meta name="description" content="袁某人的个人博客，记录生活和开发笔记" />
		<title>{PageTitle && PageTitle+" - "} 袁某人博客</title>
	</head>
	<body ontouchstart="ontouchstart" class="h-full w-full antialiased scroll-smooth bg-white text-neutral-700 lg:subpixel-antialiased dark:bg-neutral-900 dark:text-neutral-500">

        <slot />
		
	</body>
</html>

<script is:inline>
	function updateTheme() {
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			document.documentElement.classList.add('dark');
		} else {
			document.documentElement.classList.remove('dark');
		}
	}
	updateTheme();
	window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', updateTheme);
</script>

<style>
	@font-face {
		font-family: 'zql';
		src: url('../assets/fonts/zql.woff2') format('woff2'),
			url('../assets/fonts/zql.woff') format('woff');
	}
	@font-face {
		font-family: 'hm';
		src: url('../assets/fonts/hm.woff2') format('woff2'),
	}

	::-webkit-scrollbar{
		/* display:none */
	}

	body {
		font-family: "zql" ,"Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
	}
</style>