---
import { getCollection } from "astro:content";
import PageLayout from "../layouts/PageLayout.astro";
import FriendCard from "../components/FriendCard.astro";
import Details from "../components/Details.astro";

const friends = await getCollection("friend")

const { frontmatter } = Astro.props
---

<PageLayout title = {frontmatter.title} description = {frontmatter.description}>
    <Details title = {frontmatter.title}>
        <slot />
    </Details>
    
    <section class="pt-8 grid gap-8 grid-cols-1 lg:grid-cols-2">
        {friends.map(friend => (
            <FriendCard entry={friend.data} />
        ))}
    </section>
</PageLayout>

