---
import PageLayout from "../layouts/PageLayout.astro";
import Comments from "../components/Comments.astro";
import Details from "../components/Details.astro";

const { frontmatter } = Astro.props
---

<PageLayout title = {frontmatter.title} description = {frontmatter.description}>
    <Details title = {frontmatter.title} open>
        <slot />
    </Details>

    <section class="pt-8">
        <Comments />
    </section>
</PageLayout>