---
import BaseLayout from "./BaseLayout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import BgGridPattern from "../components/BgGridPattern.astro";

type Props = {
    pageName?: string,
    title?: string,
    description?: string,
    isPadding?: boolean
}

const { pageName, title, description, isPadding = true } = Astro.props;
---

<BaseLayout title = {title} description = {description}>

    <BgGridPattern />

    <Header pageName = {pageName} />

    <main id="main" class={`container mx-auto blur ${isPadding && "px-8 py-16"}`}>
        <slot />
    </main>

    <Footer />
    
</BaseLayout>