---
import BaseLayout from "./BaseLayout.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import BgGridPattern from "../components/BgGridPattern.astro";

type Props = {
    pageName?: string,
    title?: string,
    description?: string
}

const { pageName, title, description } = Astro.props;
---

<BaseLayout title = {title} description = {description}>

    <BgGridPattern />

    <Header pageName = {pageName} />

    <main class="container mx-auto px-8 py-16">
        <slot />
    </main>

    <Footer />
    
</BaseLayout>