---
import BaseLayout from "./BaseLayout.astro"
import PostHeaderComponent from "./components/PostHeaderComponent.astro";
import FooterComponent from "./components/FooterComponent.astro";
import MarkdownLayout from "./MarkdownLayout.astro";
import { formatDate } from "../utils/formatDate";

const { frontmatter } = Astro.props;
---

<BaseLayout PageTitle={frontmatter.title}>
    <PostHeaderComponent />
    
    <main class="container mx-auto p-8">
        <MarkdownLayout>
            <article>
                {frontmatter.title && <h1 class="mb-0 text-2xl">{frontmatter.title}</h1>}
                {frontmatter.date && <p><time>{formatDate(frontmatter.date)}</time></p>}
                <slot />
            </article>
        </MarkdownLayout>
    </main>
    
    <FooterComponent />
</BaseLayout>