---
import BaseLayout from "./BaseLayout.astro"
import HeaderComponent from "./components/HeaderComponent.astro";
import PostHeaderComponent from "./components/PostHeaderComponent.astro";
import FooterComponent from "./components/FooterComponent.astro";
import { formatDate } from "../utils/formatDate";

const { frontmatter } = Astro.props;
---

<BaseLayout PageTitle={frontmatter.title}>
    <PostHeaderComponent />
    
    <main class="container mx-auto p-8">
        <article class="prose prose-neutral max-w-none prose-img:rounded-xl prose-a:text-blue-500 dark:prose-invert">
            <h1 class="mb-0">{frontmatter.title}</h1>
            <p><time>{formatDate(frontmatter.date)}</time></p>
            <slot />
        </article>
    </main>
    
    <FooterComponent />
</BaseLayout>